In [39]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [40]:
obj = Series([4,7,-5,2])
obj

0    4
1    7
2   -5
3    2
dtype: int64

In [41]:
obj.values

array([ 4,  7, -5,  2], dtype=int64)

In [42]:
obj.index

RangeIndex(start=0, stop=4, step=1)

We can specify a more interesting index.

In [43]:
obj2 = Series([4, 7, -5, 2], index=["a","b","c","d"])
obj2

a    4
b    7
c   -5
d    2
dtype: int64

In [44]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

We can now select items, and take slices, using this index.

In [45]:
obj2["b"]

7

In [46]:
obj2["d"] = 6

In [47]:
obj2[["c", "d", "a"]]

c   -5
d    6
a    4
dtype: int64

You can assign an index in-place

In [48]:
obj

0    4
1    7
2   -5
3    2
dtype: int64

In [49]:
obj.index = ["Bob", "Dave", "Steve", "James"]
obj

Bob      4
Dave     7
Steve   -5
James    2
dtype: int64

We can filter series, and "broadcast" operators, as for numpy

In [50]:
obj2[obj2 > 0]

a    4
b    7
d    6
dtype: int64

In [51]:
obj * 2

Bob       8
Dave     14
Steve   -10
James     4
dtype: int64

Furthermore, numpy commands also work for `Series` objects

In [52]:
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d     403.428793
dtype: float64

A Series also behaves much like a Python `dict` object

In [53]:
"a" in obj2, "e" in obj2

(True, False)

In [54]:
dict_data = {"Leeds":35000, "Bradford":71000, "York":54000, "Halifax":12000} 
obj3 = Series( dict_data )
obj3

Bradford    71000
Halifax     12000
Leeds       35000
York        54000
dtype: int64

In [55]:
towns = ["Halifax", "Leeds", "York", "Otley"]
obj4 = Series(dict_data, index=towns)
obj4

Halifax    12000.0
Leeds      35000.0
York       54000.0
Otley          NaN
dtype: float64

The `Nan` means "missing" for Pandas.

In [56]:
pd.isnull(obj4)

Halifax    False
Leeds      False
York       False
Otley       True
dtype: bool

In [57]:
pd.notnull(obj4)

Halifax     True
Leeds       True
York        True
Otley      False
dtype: bool

In [58]:
obj4.isnull()

Halifax    False
Leeds      False
York       False
Otley       True
dtype: bool

Arithmetric operations can be aligned between two `Series` by using the index

In [59]:
obj3

Bradford    71000
Halifax     12000
Leeds       35000
York        54000
dtype: int64

In [60]:
obj4

Halifax    12000.0
Leeds      35000.0
York       54000.0
Otley          NaN
dtype: float64

In [61]:
obj3 + obj4

Bradford         NaN
Halifax      24000.0
Leeds        70000.0
Otley            NaN
York        108000.0
dtype: float64

You can give useful labels to `Series`

In [62]:
obj4.name = "widgets produced"
obj4.index.name = "city"
obj4

city
Halifax    12000.0
Leeds      35000.0
York       54000.0
Otley          NaN
Name: widgets produced, dtype: float64