In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series(range(5,8), index=["a","b","c"])
obj

a    5
b    6
c    7
dtype: int32

In [5]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c'], dtype='object')

An `index` is immutable

In [7]:
index[1]="d"

TypeError: Index does not support mutable operations

In [8]:
frame3 = DataFrame({ "Leeds" : {2010:435, 2011:474, 2012:480}, "York":{2011:154, 2012:158}})
frame3

      Leeds   York
2010    435    NaN
2011    474  154.0
2012    480  158.0

In [9]:
"Leeds" in frame3.columns

True

In [10]:
2013 in frame3.index

False

## Some methods for indexes ##

In [11]:
index

Index(['a', 'b', 'c'], dtype='object')

In [15]:
index2 = pd.Index(["c", "d", "e"])
index2

Index(['c', 'd', 'e'], dtype='object')

In [18]:
index3 = index.append(index2)
index3

Index(['a', 'b', 'c', 'c', 'd', 'e'], dtype='object')

In [19]:
index3.unique()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
index3.is_monotonic

True

In [24]:
index3.is_unique

False

In [25]:
index3.delete(3)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

## Non-unique indexes ##

In [26]:
obj = Series(np.random.random(6), index=list("aabacd"))
obj

a    0.757853
a    0.281777
b    0.196562
a    0.280621
c    0.549511
d    0.104896
dtype: float64

In [27]:
obj["a"]

a    0.757853
a    0.281777
a    0.280621
dtype: float64

In [30]:
frame = DataFrame(np.random.random((3,3)), index=list("aba"), columns="Bob Joe Dave".split())
frame

        Bob       Joe      Dave
a  0.450749  0.140487  0.850295
b  0.815582  0.172360  0.259966
a  0.771451  0.559910  0.431496

In [32]:
frame.ix["a"]

        Bob       Joe      Dave
a  0.450749  0.140487  0.850295
a  0.771451  0.559910  0.431496