In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series(range(4), index=list("dabc"))
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [3]:
frame = DataFrame(np.arange(8).reshape((2,4)), index=["three","one"],
                  columns=list("dabc"))
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [4]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [7]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [9]:
Series(np.random.random(4)).sort_values()

2    0.016154
0    0.097541
1    0.177437
3    0.339446
dtype: float64

In [10]:
Series([1,2,np.nan,-2,np.nan]).sort_values()

3   -2.0
0    1.0
1    2.0
2    NaN
4    NaN
dtype: float64

In [23]:
frame = DataFrame({"a":[1,2,0,3], "c":[2,3,2,4]})
frame

   a  c
0  1  2
1  2  3
2  0  2
3  3  4

In [24]:
frame.sort_values(by="c")

   a  c
0  1  2
2  0  2
1  2  3
3  3  4

In [25]:
frame.sort_values(by=["c","a"])

   a  c
2  0  2
0  1  2
1  2  3
3  3  4

## Ranking ##

In [26]:
obj = Series([7,-5,7,4,2,0,4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [27]:
obj.rank(method="first")

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [29]:
obj.rank(ascending=False, method="max")

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [31]:
frame = DataFrame({"a":[0,1,0,1], "b":[4.3,7.0,-3,2], "c":[-2,5,8,-2.5]})
frame

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [35]:
# Each row ranked
frame.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0